html
  head
    title #{title} #{subtitle}
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,300,500', type='text/css')
    script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
    script(type='text/javascript').
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Date');
        data.addColumn('number', 'Value');

        data.addRows(!{datas});

        var options = {
          width: 1400,
          height: 800
        };

        var chart = new google.charts.Line(document.getElementById('chart'));

        chart.draw(data, options);
      }
  
  body
    header
      h1 
        a(href='/') LinuxNodeJsApp
      ul
        li
          a(href='/cpu-heat') CPU Heat
        li
          a(href='/cpu-freq') CPU Frequency
        li
          a(href='/storage') Storage Used
    div.container
      h1 #{title}
      h2 #{subtitle}
      #chart(style='width: 1400px; height: 800px')